.dashboard-layout {
  height: 100vh;

  &__content {
    padding: 1rem;

    > .ant-card-bordered {
      height: 100%;
      overflow-y: auto;
    }
  }

  &__body {
    max-height: calc(100vh - 140px);
    padding-top: 1rem;
    // overflow: hidden;
    border-top: 1px solid $border;
  }

  &__logo {
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 16px;
    color: $white;
    background-color: $dark-blue;

    img {
      height: 32px;
    }
  }
}
