// break point resources
$breakpoint-sp: 425px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1024px;
$breakpoint-large-pc: 1440px;

$blue: #1890ff;
$dark-blue: #001529;
$light-blue: #e6f7ff;
$white: white;
$black: black;
$border: #f0f0f0;
$orange: #eea022;
$grey: #f0f2f5;
$dark-grey: #b2b2b2;

$main: #7140b8;
$avatar-bg: #84b15c;
$green: #52c41a;
$green-grey: #95a5a6;
$card-bg: rgba(52, 152, 219, 0.1);
$antd-error: #ff4d4f;

$box-shadow-1: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);

$box-shadow-2: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
